body {
}

.snake {
  position: fixed;
  left: 0vh;
  top: 20vh;
  width: 35%;
}

.crystal {
  position: fixed;
  left: 0vh;
  bottom: 20vh;
  width: 35%;
}

.App {
  text-align: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.formDiv {
  /* margin-top: 30vh; */
  position: fixed;
  top: 50%;
  /* z-index: 0; */
  width: 100%;
  text-align: center;
}

.formClass {
  max-width: 150vh;
  min-width: 50vh;
}